*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
}


.blog-section h2{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    color: white;
    font-size: xx-large;
}

.blog-section {
    display: block;
    padding: 20px;
    flex-wrap: nowrap;
    background-color: #000;
    max-width: 100%;
}

.blog-post {
    flex: 1;
    background-color: #A0E7E5;
    /* max-width: calc(25% - 20px); */
    max-width: 350px;
    min-width: 350px;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 350px;
}

.blog-post img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

#article{
    display: flex;
    gap: 20%;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
}

.actions {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav-toggler {
    display: none;
    cursor: pointer;
}
.nav-toggler img {
    width: 50px; 
    height: 50px; 
    background-color: #fff;
}

.admin-panel {
    background-color: #fff;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
}

#create-article-form h1{
    color: white;
    text-align: center;
    font-size: xx-large;
}

header {
    text-align: center;
    padding: 15px;
    color: white;
    display: flex;
    gap: 27%;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 222;
    background-color: #000;
    top: 0;
}
header img{
    width: 90px;
    height: 90px;
    margin-left: 0;
    border-radius: 50%;
}

nav {
    padding: 10px;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    margin-right: 10px;
    float: right;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

a:hover {
    text-decoration: underline;
}

#main-content {
    padding: 20px;
}

#queries h1{
    color: white;
    font-size: xx-large;
}

#queries {
    margin: 20px;
}

.query {
    background-color: #A0E7E5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.query h2 {
    font-size: 24px;
    color: #36454F;
}

.query p {
    margin: 10px 0;
}

#admin-title h1{
    font-size: xx-large;
    color: #ffff;
}
.admin-panel h1{
    color: white;
}



@media only screen and (max-width: 768px) {
    nav {
        text-align: center;
    }

    li {
        display: inline;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #36454F;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    nav ul.show {
        display: flex;
    }

    nav li {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .nav-toggler {
        display: block;
    }
}