:root{

    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primary-variant:#677483;
    --color-background:#f6f6f9;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-size: 0.88rem;
    background: rgb(6, 1, 28);
    user-select: none;
    overflow-x: hidden;
    box-shadow: 2px 5px 2px  rgb(83, 118, 231);
}
.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-primary-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.warning{
    color: var(--color-warning);
}
aside{
    height: 100vh;
    background: white;
    width: 20rem;
    margin-left: 0;
    position: fixed;
}

aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    padding-left: 30px;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    width: 3rem;
    height: 3rem; 
    border-radius: 50%;
}
aside .close{
    display: none;
}
aside .sidebar{
    /* background: white; */
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 4rem;
}
aside h3{
    font-weight: 500;
    font-size: 2rem;
}
aside .sidebar a{
    display: flex;
    color: rgb(6, 1, 28);
    gap: 1rem;
    margin-left: 2rem;
    align-items: center;
    position: relative;
    height: 5.3rem;
    transition: all 300ms ease;
}
aside .sidebar a span{
    font-size: 3rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.ctive{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a:active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}
aside .sidebar .message-count{
    background: var(--color-danger);
    color: white;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 5px;
}

/* Main styles  */
/* ******************************** */
main{
    margin: 20px auto;
    margin-top: 0;
    display: grid;
    justify-content: center;
    background: rgb(6, 1, 28);
    width: 100%;
    height: 100%;
    padding-left: 250px;
}
main h1{
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    padding: 1rem;
    color:#ffff;
}

.content-container{
    width: 70vw;
}
#queries{
    display: none;
    width: 100%;
    max-width: 100%;
    margin: auto;
    justify-content: center;
}
#queries h1{
    font-size:2.5rem;
    color: #41f1b6;
}
.query{
    background-color: white;
    width: 70%;
    max-width: 90%;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    color: black;
    position: relative;
}
.query p{
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
}
.query .names{
    font-weight: 900;
    margin-right: 20px;
    display: block;
}
.query .email{
    opacity: 0.7;
    font-size: large;
}
.query .message{
    margin: 10px 100px;
    position: relative;
    white-space: normal;
    word-wrap: break-word; 
}
.date{
    position:absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
#create-article-form{
    margin:0 auto; 
    display: none;
    justify-content: center;
}

#create-article-form h1{
    color: #41f1b6;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
}
form#new-article{
    width: 100%;
    height: 60vh;
    margin: 2rem;
    padding: 2rem;
    display: grid;
    justify-content: center;
}
#new-article .row{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;

}
form input{
    width: 35vw;
    height: 8vh;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-weight: 500;
    font-size: x-large;
}
form input#art-image{
    color: white;
    font-size: x-large;
}
.row label{
    font-size: 2rem;
    color: white;
}

form textarea{
    width: 35vw;
    height: 18vh;
    border-radius: 5px;
    padding: 10px;
    font-size: x-large;
}
form button{
    border-radius: 10px;
    margin: 15px auto;
    height: 10vh;
    width: 10vw;
    border-radius: 10px;
    height: 10vh;
    transition: all 200ms ease;
    font-size: 2rem;
    padding: 1rem;
    width: fit-content;
    color: black;
    font-weight: 600;
}
form button:hover{
    cursor: pointer;
    transition: all 300ms ease-in-out;
    opacity: 0.7;
}

#users{
    display: none;
}
#users h1{
    font-size: 2.5rem;
    color: #41f1b6;
}
.content h1{
    color: #41f1b6;
    font-size: 2.5rem;
}
#users table{
    color: white;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}
#users table thead td{
    font-size: x-large;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}
tr,td{
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    font-size: larger;
    padding: 10px;
}
#welcome{
    position: relative;
}
#profile-picture img{
    width: 130px;
    height: 150px;
    border-radius:50%;
    object-fit:cover;
    position: absolute;
    top: 2%;
    right: 3%;
}
#profile-picture{
    width: 20%;
}
.analytics {
    display: flex;
    gap: 10%;
    margin: auto;
    margin-top: 100px;
    width: 80%;
  }
  
  .box {
    flex: 1; /* Each box takes up equal space */
    background-color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 30vh;
    width: 30%;
    border-radius: 20px;
    font-size: xx-large;
    color: black;
  }
  .box span{
    display: block;
    margin-top: 50px;
    color:black;
    font-weight: 700;
    font-size: 50px;
  }

  #change-profile{
    margin: auto;
    display: none; 
    justify-content: center;
  }
  #change-profile-form .row{
    display: flex;
    gap: 20px;
    margin: 30px;
  }
  .row label{
    font-size: 35px;
  }
  .row input{
    color: white;
    background-color: black;
  }
  #change-profile-form button{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  img{
    color:white;
  }

@media only screen and (max-width: 992px){
    html{
        font-size: 12px;
    }
    
    body{
        width: 100vw;
        height: 100vh;
        font-family: sans-serif;
        font-size: 0.7rem;
    }
    .container{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        grid-template-columns: 12rem auto 20rem;
    }
    
    .profile-photo{
        width: 2.5rem;
        height: 2.5rem;
    }
    
    aside{
        height: 100vh;
        background: white;
        width: 18rem;
        margin-left: 0;
        position: fixed;
    }
    
    aside .top{
        padding-left: 25px;
    }
    aside .logo{
        gap: 0.6rem;
    }
    aside .logo img{
        width: 2.5rem;
        height: 2.5rem; 
        border-radius: 50%;
    }
    aside h3{
        font-size: 1.8rem;
    }
    aside .sidebar a{
        margin-left: 1.8rem;
        height: 4.5rem;
    }
    aside .sidebar a span{
        font-size: 2.5rem;
    }
   
    aside .sidebar a:active:before{
        content: "";
        width: 5px;
    }
    aside .sidebar a:hover span{
        margin-left: .8rem;
    }
    aside .sidebar .message-count{
        padding: 1.8px 8px;
        font-size: 10px;
    }
    
    /* Main styles  */
    /* ******************************** */
    main{
        margin: 18px auto;
        padding-left: 220px;
    }
    main h1{
        text-align: center;
        font-size: 2.7rem;
        margin: 1.8rem;
    }
    
    .content-container{
        width: 75vw;
    }
    
    #create-article-form h1{
        font-size: x-large;
        margin-top: 0;
    }
    form#new-article{
        width: 100%;
        height: 65vh;
        margin: 1.8rem;
        padding: 1.8rem;
    }
    #new-article .row{
        gap: 2.7rem;
    
    }
    form input{
        width: 32vw;
        height: 7vh;
        padding: 8px;

    }
    .row label{
        font-size: 1.8rem;
    }
    
    form textarea{
        width: 32vw;
        height: 15vh;
        padding: 8px;
    }
    form button{
        margin: 12px auto;
        height: 10vh;
        width: 10vw;
        height: 10vh;
        font-size: 1.8rem;
        padding: 1rem;
    }

    #users table thead td{
        font-size: large;
        padding: 7px;
    }
    tr,td{
        border: 1px solid white;
        border-collapse: collapse;
        color: white;
        font-size: medium;
    }
    
}



@media only screen and (max-width: 768px){
    html{
        font-size: 10px;
    }
    
    body{
        width: 100vw;
        height: 100vh;
        font-family: sans-serif;
        font-size: 0.6rem;
    }
    .container{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        grid-template-columns: 10rem auto 15rem;
    }
    
    .profile-photo{
        width: 2.2rem;
        height: 2.2rem;
    }
    
    aside{
        height: 100vh;
        background: white;
        width: 15rem;
    }
    
    aside .top{
        padding-left: 20px;
    }
    aside .logo{
        gap: 0.4rem;
    }
    aside .logo img{
        width: 2.2rem;
        height: 2.2rem; 
    }
    aside h3{
        font-size: 1.5rem;
    }
    aside .sidebar a{
        margin-left: 1.1rem;
        height: 6rem;
    }
    aside .sidebar a span{
        font-size: 2.2rem;
    }
   
    aside .sidebar a:active:before{
        content: "";
        width: 5px;
    }
    aside .sidebar a:hover span{
        margin-left: .6rem;
    }
    aside .sidebar .message-count{
        padding: 1.8px 8px;
        font-size: 10px;
    }
    
    /* Main styles  */
    /* ******************************** */
    main{
        margin: 15px auto;
        padding-left: 150px;
    }
    main h1{
        text-align: center;
        font-size: 2.8rem;
        margin: 1.5rem;
    }
    
    .content-container{
        width: 100vw;
    }
    
    #create-article-form h1{
        font-size: x-large;
        margin-top: 0;
    }
    form#new-article{
        width: 100%;
        height: 75vh;
        margin: 1rem;
        padding: 1.5rem;
    }
    #new-article .row{
        gap: 1.5rem;
    
    }
    form input{
        width: 32vw;
        height: 4vh;
        padding: 3px;

    }
    .row label{
        font-size: 1.8rem;
    }
    
    form textarea{
        width: 32vw;
        height: 8vh;
        padding: 5px;
    }
    form button{
        margin: 8px auto;
        height: 8vh;
        width: fit-content;
        height: 6vh;
        font-size: 1.8rem;
        padding: .8rem;
    }

    #users table thead td{
        font-size: medium;
        padding: 5px;
    }
    tr,td{
        border: 1px solid white;
        border-collapse: collapse;
        color: white;
        font-size: small;
    }
    
}


@media only screen and (max-width: 484px){
    html{
        font-size: 8px;
    }
    
    body{
        width: 100vw;
        height: 100vh;
        font-family: sans-serif;
        font-size: 0.5rem;
    }
    .container{
        display: grid;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        grid-template-columns: 8rem auto 12rem;
    }
    
    .profile-photo{
        width: 2rem;
        height: 2rem;
    }
    
    aside{
        width: 12rem;
    }
    
    aside .top{
        padding-left: 15px;
    }
    aside .logo{
        gap: 0.3rem;
    }
    aside .logo img{
        width: 2rem;
        height: 2rem; 
    }
    aside h3{
        font-size: 1.2rem;
    }
    aside .sidebar a{
        margin-left: 1.2rem;
        height: 4rem;
    }
    aside .sidebar a span{
        font-size: 2rem;
    }
   
    aside .sidebar a:active:before{
        content: "";
        width: 4px;
    }
    aside .sidebar a:hover span{
        margin-left: .5rem;
    }
    aside .sidebar .message-count{
        padding: 1.5px 5px;
        font-size: 8px;
    }
    
    /* Main styles  */
    /* ******************************** */
    main{
        margin: 10px auto;
        padding-left: 10px;
    }
    main h1{
        text-align: center;
        font-size: 3rem;
        margin: 1.5rem;
    }
    
    .content-container{
        width: 100vw;
    }
    
    #create-article-form h1{
        font-size: x-large;
        margin-top: 0;
    }
    form#new-article{
        width: 100%;
        height: 75vh;
        margin: 1rem;
        padding: 1.5rem;
    }
    #new-article .row{
        gap: 1.5rem;
    
    }
    form input{
        width: 32vw;
        height: 5vh;
        padding: 3px;

    }
    .row label{
        font-size: 1.8rem;
    }
    
    form textarea{
        width: 32vw;
        height: 12vh;
        padding: 5px;
    }
    form button{
        margin: 8px auto;
        height: 8vh;
        width: fit-content;
        height: 8vh;
        font-size: 1.5rem;
        padding: .8rem;
    }
    
}