#portifolio{
    background-color: black;
}

#portifolio h2{
    font-size: xx-large;
    color: #A0E7E5;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

#projects {
    padding: 20px;
    background-color: black;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: x-large;
}
.project h3{
    font-size: large;
}
.project p{
    font-size: medium;
}

.project img {
    max-width: 220px;
    height: auto;
    border-radius: 8px;
}

.project-link {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 992px){
    #portifolio h2{
        font-size: xx-large;
        color: #A0E7E5;
        font-weight: 600;
        padding: 30px;
        text-align: center;
    }
    
    #projects {
        padding: 20px;
        background-color: black;
        display: flex;
        width: 95%;
        margin: auto;
        gap: 5%;
        justify-content: center;
        height: 100%;
    }
    
    .project {
        background-color: #fff;
        padding: 18px;
        margin-bottom: 18px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: x-large;
    }
    .project h3{
        font-size: large;
    }
    .project p{
        font-size: medium;
    }
    
    .project img {
        width: 180px;
        height: auto;
        border-radius: 8px;
    }
    
}
@media only screen and (max-width: 768px){
    #portifolio h2{
        font-size: xx-large;
        color: #A0E7E5;
        font-weight: 600;
        padding: 30px;
        text-align: center;
    }
    
    #projects {
        padding: 20px;
        background-color: black;
        display: flex;
        width: 95%;
        margin: auto;
        gap: 5%;
        justify-content: center;
        height: 100%;
    }
    
    .project {
        background-color: #fff;
        padding: 18px;
        margin-bottom: 18px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: x-large;
    }
    .project h3{
        font-size: large;
    }
    .project p{
        font-size: medium;
    }
    
    .project img {
        width: 150;
        height: auto;
        border-radius: 8px;
    }
}
@media only screen and (max-width: 484px){
    #portifolio h2{
        font-size: larger;
        color: #A0E7E5;
        font-weight: 600;
        padding: 25px;
        text-align: center;
    }
    
    #projects {
        padding: 20px;
        background-color: black;
        display: grid;
        width: 95%;
        margin: auto;
        gap: 5%;
        justify-content: center;
        height: 100%;
    }
    
    .project {
        background-color: #fff;
        padding: 18px;
        margin-bottom: 18px;
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: larger;
    }
    
    .project img {
        width: 120;
        height: auto;
        border-radius: 8px;
    }
}


