#skills-exp{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    padding-top: 30px;
    height: fit-content;
    width: 100%;
}
#skills-experience{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}

#skills h1{
    font-size: xx-large;
    text-align: center;
    color: #A0E7E5;
}

.sect{
    width: 40%;
    text-align: left; 
}

.sect h1{
    color: #A0E7E5;
    font-size: x-large;
    font-weight: 300;
}

.sect h2{
    color: white;
    font-weight:200;
    font-size: x-large;
}

.sect p{
    font-size: 32px;
    color: #A0E7E5;
    text-align: center;
}
.category span{
    color: white;
    font-size: 35px;
    text-align: center;
}
#content{
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: #A0E7E5;
    border-radius: 10px;
    font-size: x-large;
}

.category h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.category h2{
    text-align: left;
    font-weight:300;
    font-size: 40px;
    color: white;
    margin-left: 20px;
}
/* .sect .special-skill{
    color: black;
} */

/* Media queries for responsiveness */

@media only screen and (max-width: 992px){
    #skills-exp{
        margin: auto;
        margin-top: 50px;
        padding: 10px;
        padding-top: 30px;
        height: fit-content;
        width: 100%;
    }
    #skills-experience{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 30px;
    }
    
    #skills {
        font-size: 50px;
        color: #A0E7E5;
    }
    
    #skills h1{
        font-size: xx-large;
        text-align: center;
    }
    
    .sect{
        width: 40%;
        text-align: center; 
    }
    
    .sect h1{
        color: #A0E7E5;
        font-size: 25px;
        font-weight: 300;
    }
    
    .sect h2{
        color: white;
        font-weight:200;
        font-size: x-large;
        text-align: left;
    }
    .sect p{
        font-size: larger;
        color: #A0E7E5;
        text-align: center;
    }
    .category span{
        color: white;
        font-size: xx-large;
    }
    #content{
        margin: auto;
        width: 500px;
        height: 200px;
        background-color: #A0E7E5;
        border-radius: 10px;
        font-size: larger;
    }
    
    .category h1{
        text-align: center;
        font-weight: bold;
        font-size:larger;
    }
    .category h2{
        text-align: left;
        font-weight:300;
        font-size:larger;
        color: white;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px){
    #skills-exp{
        margin: auto;
        margin-top: 50px;
        padding: 10px;
        padding-top: 30px;
        height: fit-content;
        width: 85%;
    }
    #skills-experience{
        display: grid;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
        width: 85%;
    }
    .category span{
        color: white;
        font: x-large;
    }
    
    #skills {
        font-size: larger;
        color: black;
    }
    
    #skills h1{
        font-size: x-large;
        text-align: center;
    }
    
    .sect{
        width: 100%;
        text-align: center; 
        margin-left: 10px;
    }
    
    .sect h1{
        color: #A0E7E5;
        font-size: x-large;
        font-weight: 300;
    }
    
    .sect h2{
        color: white;
        font-weight:200;
        font-size: large;
        text-align: center;
        word-wrap: break-word;
    }
    .sect p{
        font-size: medium;
        color: #A0E7E5;
        text-align: center;
    }
    #content{
        margin: auto;
        width: 500px;
        height: 200px;
        background-color: #A0E7E5;
        border-radius: 10px;
        font-size: larger;
    }
    .category span{
        font-size: x-large;
        color: white;
    }
    
    .category h1{
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .category h2{
        text-align: center;
        font-weight:300;
        font-size: larger;
        color: white;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 484px){
    #skills-exp{
        margin: auto;
        margin-top: 50px;
        padding: 10px;
        padding-top: 30px;
        height: fit-content;
        width: 100%;
    }
    #skills-experience{
        display: grid;
        justify-content: center;
        gap: 70px;
        margin: auto;
        margin-top: 30px;
    }
    
    #skills {
        font-size: x-large;
        color: #A0E7E5;
    }
    
    #skills h1{
        font-size: larger;
        text-align: center;
    }
    
    .sect{
        width: 100%;
        text-align: center; 
        margin-left: 10%;
    }
    
    .sect h1{
        color: #A0E7E5;
        font-size: large;
        font-weight: 300;
    }
    
    .sect h2{
        color: white;
        font-weight:200;
        font-size: large;
        text-align: left;
    }
    .sect p{
        font-size: 32px;
        color: #A0E7E5;
        text-align: center;
    }
   
    #content{
        margin: auto;
        width: 500px;
        height: 200px;
        background-color: #A0E7E5;
        border-radius: 10px;
        font-size: larger;
    }
    .category span{
        font-size: large;
        color: white;
    }
    
    .category h1{
        text-align: center;
        font-weight: bold;
        font-size: large;
    }
    .category h2{
        text-align: center;
        font-weight:300;
        font-size: large;
        color: white;
        margin-left: 20px;
    }
}
